footer {
  font-size: 11px;
  margin-top: 10px;
}
.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}
.container {
  border: 1px solid #6b7b8a;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Open Sans", sans-serif;
}
