.App {
  border: 1px solid #6b7b8a;
  border-radius: 4px;
  max-width: 600px;
  margin: 30px;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Open Sans", sans-serif;
}
