h3 {
  margin: 0;
}
h6 {
  margin: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  position: relative;
  top: 20px;
}

button {
  background: #0779e4;
  border: 1px solid;
  color: #fff;
  padding: 6px 12px;
}
button:hover {
  color: #0779e4;
  background: linear-gradient(to top, #dfe9f3 0%, white 50%);
}
input {
  text-align: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 50%);
  padding: 6px 12px;
}
img {
  margin: 0;
}
.updated-temperature {
  font-size: 65px;
  position: relative;
  top: -4px;
}
.units {
  font-size: 15px;
  position: relative;
  top: -35px;
}
.information-text {
  margin-bottom: 10px;
  padding: 0;
}

.description {
  font-size: 25px;
}
